.divLoginRemoto {
    border-radius: 6px;
    text-align: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    animation: divMenu 1s ease-in-out;
}
.imgTitulo
{
    width: 10rem;
    margin: 2rem;
    margin-bottom: 0.5rem;
}
.h1LoginRemoto {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0rem;
}

.formLoginRemoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0.2rem;
}
.divCampoLoginRemoto {
    display: flex;
    align-items: center;
    margin: 1rem;
    margin-bottom: 0rem;
}

.inputLoginRemoto {
    width: 15rem;
    height: 2rem;
    font-size: 16PX;
    border-radius: 0 5px 5px 0;
    border: none;
}
.pLoginRemoto
{
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 0;
}
.pLoginRemoto
{
    cursor: pointer;
}
.divBotonesLoginRemoto
{
    margin: 0;
    border-radius: 0 0 6px 6px;
}

/*            allaria           */
.imgLoginRemotoallaria {
    background-color: rgb(15, 80, 141);
    width: 2.3rem;
    margin: 0rem;
    border-radius: 4px 0 0 4px;
}
.btnLoginRemotoallaria 
{
    background-color: rgb(15, 80, 141);
    color: white;
    height: 2rem;
    font-size: 22px;
    margin: 0.1rem;
    font-weight: bold;
    width: 18rem;
    border-radius: 10px;
    border: none;
}
.btnLoginRemotoallaria:hover
{
    cursor: pointer;
    background-color: rgb(6, 36, 65);
}

/*            alfy           */
.btnLoginRemotoalfy
{
    background-color: rgb(92, 161, 86);
    color: white;
    height: 2rem;
    font-size: 22px;
    margin: 0.1rem;
    font-weight: bold;
    width: 18rem;
    border-radius: 10px;
    border: none;
}
.btnLoginRemotoalfy:hover
{
    cursor: pointer;
    background-color: rgb(37, 126, 29);
}
.imgLoginRemotoalfy {
    background-color: rgb(92, 161, 86);
    width: 2.2rem;
    margin: 0rem;
    border-radius: 4px 0 0 4px;
}
/*            arpy         */
.btnLoginRemotoarpy
{
    background-color: rgb(29, 161, 212);
    color: white;
    height: 2rem;
    font-size: 22px;
    margin: 0.1rem;
    font-weight: bold;
    width: 18rem;
    border-radius: 10px;
    border: none;
}
.btnLoginRemotoarpy:hover
{
    cursor: pointer;
    background-color: rgb(16, 100, 133);
}
.imgLoginRemotoarpy {
    background-color: rgb(29, 161, 212);
    width: 2.2rem;
    margin: 0rem;
    border-radius: 4px 0 0 4px;
}
/*            alfa           */
.imgLoginRemotoalfa {
    background-color: rgb(15, 80, 141);
    width: 2.3rem;
    margin: 0rem;
    border-radius: 4px 0 0 4px;
}
.btnLoginRemotoalfa 
{
    background-color: rgb(15, 80, 141);
    color: white;
    height: 2rem;
    font-size: 22px;
    margin: 0.1rem;
    font-weight: bold;
    width: 18rem;
    border-radius: 10px;
    border: none;
}
.btnLoginRemotoalfa:hover
{
    cursor: pointer;
    background-color: rgb(6, 36, 65);
}