.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shake 0.4s ease-in-out;
  }
  
  .modal {
    background-color: rgb(63, 152, 255);
    padding: 0px;
    padding-top: 20px;
    box-shadow: 0px 1px 2px 2px rgba(37, 37, 37, 0.281);
  }

  .h1Ventana
  {
    color: black;
    margin: 0;
  }

  .pVentana
  {
    margin: 0;
    margin-top: 0.5rem;
    color: black;
  }
  .modal-content
  {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  
  }

  .btnVentana
  {
    margin: 0;
    color: white;
    background-color: rgb(63, 152, 255);
    border: none;
    border-radius: 5px;
    width: 5rem;
  }
  .btnVentana:hover
  {
    background-color: rgb(53, 131, 219);
    cursor: pointer;
  }

  .errorVentanaIcon
  {
    height: 2.5rem;
    margin: 0;
    margin-right: 0.3rem;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }