.botonAccion
{
    width: 3.5rem;
    margin: 0.5rem;
}
.botonAccion:hover
{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem;
}
.divBarraIconos
{
    display: flex;
    flex-direction: row;
}