.botonAccion
{
    width: 3.5rem;
    margin: 0.5rem;
    transition: transform 0.3s ease;
}
.botonAccion:hover
{
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0rem;
    transform: rotate(45deg);
}
.panelDerechoBarra
{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.divBarraIconos
{
    display: flex;
    flex-direction: row;
}
.barra
{
    justify-content: space-between;
    display: flex;
}